@import "../../../style/variables.scss";
.bgImg {
  width: 100%;
  height: auto;
  background: url("../../../../../public/images/bgImgAdv.jpeg") no-repeat
    center/cover;
}

.section {
  padding: 105px 0 76px 0;

  @media screen and (max-width: 690px) {
    padding: 70px 0 76px 0;
  }
}

.titlePosition {
  max-width: 480px;
  margin: 0 auto;
}

.titleBox {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  @media screen and (max-width: 690px) {
    margin-bottom: 25px;
  }
}

.list {
  max-width: 780px;
  margin: 0 auto;

  &__item:not(:last-child) {
    margin-bottom: 65px;

    @media screen and (max-width: 690px) {
      margin-bottom: 45px;
    }
  }

  &__itemNum {
    margin-right: 32px;
    color: $accent-color;
    font-size: 74px;
    font-weight: 200;
    line-height: 32px;
    text-transform: uppercase;

    @media screen and (max-width: 690px) {
      font-size: 54px;
      margin-left: 14px;
    }
  }

  &__itemTitle {
    font-size: 24px;
    font-weight: $semi-bold;
    line-height: 32px;
    text-transform: uppercase;

    @media screen and (max-width: 690px) {
      font-size: 18px;
    }
  }
}

.row {
  margin-left: 40px;
  border-left: 1px solid $accent-color;
  padding-left: 56px;
}

.accentText {
  color: $accent-color;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: $bold;
  line-height: 30px;
}

.text {
  font-size: 18px;
  font-weight: $regular;
  line-height: 30px;

  @media screen and (max-width: 690px) {
    font-size: 14px;
  }
}

.btnPosition {
  text-align: center;
  margin-top: 80px;
}
